*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sans-serif" ;
}
body{
    overflow-x: hidden;
    background-color: #f0d6de;
}
header {
    height: fit-content;
    background-color: white;
    width: 100%;
    position: sticky;
    top: 0;
}
header .arriba a{
    color: palevioletred;
}
header .arriba{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .arriba .soffcrystals{
    font-size: 60px;
    text-decoration: none;
    margin-right: 300px;
}
header .arriba .soffcrystals:hover{
    color: rgb(202, 152, 169);

}

header nav{
    width: 100%;
    border: 1px solid rgb(202, 192, 192);
    
}
header nav ul{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav ul li{
    list-style: none;
    
}
header nav ul li a{
    color: black;
    text-decoration: none;

}
header nav ul li a:hover {
    color: palevioletred
   
}
header .logo {
    display: flex;
    justify-content: center 
    /* FALTA CENTRAR LOGO */

}
.iconos {
    display: flex;
   
}
.iconos div{
    margin-left: 20px;
}
section {
    margin: 20px;
}
.titulos_accesorios div {
    width: 180px;
    height: 180px;
    background-position: center;
    background-size: cover;
    margin: 20px; 
 } /*PONER A LOS DEMAS EL MARGIN */

.titulos_accesorios div h3{
    color: aliceblue;
}
.titulo{
    background-image: url(IMG/pendulodoblepunta.png.png);
}
.titulo2{
    background-image: url(IMG/collarescuarzocorazón.png.jpg);
}
.titulo3{
    background-image: url(IMG/collarcuarzoentorchado.png.jpg);
}
.titulo4{
    background-image: url(IMG/cuarzoredondorosa.png.jpg);
}
.titulo5{
    background-image: url(IMG/manillaamatista.png.jpg);
}
.titulo6{
    background-image: url(IMG/manillasignos.png.jpg);
}
.titulo7{
    background-image: url(IMG/nombre.png.jpg);
}
.titulo8{
    background-image: url(IMG/sietechakras.png.jpg);
}
.titulo9{
    background-image: url(IMG/ojoturco.png.jpg);
}
.titulo10{
    background-image: url(IMG/aretes.png.jpg);
}
.titulo11{
    background-image: url(IMG/anillos.png.jpg);
}

