*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sans-serif";
}
body{
    overflow-x: hidden;
    background-color: #f0d6de;
}
header {
    height: fit-content;
    background-color: white;
    width: 100%;
    position: sticky; /*FALTA LOS DEMAS */
    top: 0;
}
header .arriba a{
    color: palevioletred;
}
header .arriba{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .arriba .soffcrystals{
    font-size: 60px;
    text-decoration: none;
    margin-right: 300px;
    /* AGREGAR A LOS DEMAS CSS */
}
header .arriba .soffcrystals:hover{
    color: rgb(202, 152, 169);

}

header nav{
    width: 100%;
    border: 1px solid rgb(202, 192, 192);
}
header nav ul{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav ul li{
    list-style: none;
}
header nav ul li a {
    color: black;
    text-decoration: none; 
    transition: 0.2s;
}
header nav ul li a:hover {
    font-size: 18px;
    color: palevioletred
    
}

header .logo {
    display: flex;
    justify-content: center;
    /* FALTA CENTRAR LOGO */
}
.iconos {
    display: flex;
   
}
.iconos div{
    margin-left: 20px;
}
.carrusel{
    width: 95%;
    height: 500px;
    margin-left: -20px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    animation: cambioImagen 15s infinite ease-in;
}
@keyframes cambioImagen{
    0%{
        background-image: url(IMG/slider/anilloscuarzo.jpg);
    }15%{
        background-image: url(IMG/slider/anilloscuarzo.jpg);
    }

    20%{
        background-image: url(IMG/slider/aretesamatista.jpg);
    }35%{
        background-image: url(IMG/slider/aretesamatista.jpg);
    }

    40%{
        background-image: url(IMG/slider/cuarzosentorchados.jpg);
    }55%{
        background-image: url(IMG/slider/cuarzosentorchados.jpg );
    }
    60%{
        background-image: url(IMG/slider/ojoturcorojo.jpg);
    }75%{
        background-image: url(IMG/slider/ojoturcorojo.jpg);
    }
    80%{
        background-image: url(IMG/slider/sodalitapulsera.jpg);
    }95%{
        background-image: url(IMG/slider/sodalitapulsera.jpg);
    }

    100%{
        background-image: url(IMG/slider/anilloscuarzo.jpg);
    }
}
section {
    margin: 20px;
    background-color: white; /*FALTA LOS DEMAS */
}
section > div {
    margin: 30px;
}
.primertexto >div{
    width: 50%;
}
.primertexto {
    display: flex;
}
div .ladoderecho {
    justify-content: right;
    margin-left: 300px;
}
div .ladoizquierdo .texto p{
    text-align: justify;
    /* CODIGO ARRIBA PARA JUSTIFICAR */
}
div .titulo1{
    margin-bottom: 20px;
    margin-top: 20px;
}
div .titulo1 h1{
    margin-bottom: 20px;
    font-size: 50px
    /* CAMBIAR TIPO DE LETRA */
}
.titulo3 h1 {
    margin-top: 20px;
}
.titulo4 h1 {
    margin-top: 20px;
}
.titulo4 p {
    margin-top: 10px;
    text-align: justify;
}
.titulo5 h1 {
    margin-top: 20px;
}
.titulo5 p{
    margin-top: 10px;
}
.titulo6 h1{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: justify;
}
.titulo7 p{
    margin-top: 10px;
}

