*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sans-serif" ;
}
body{
    overflow-x: hidden;
}
header {
    height: 250px;
    background-color: white;
    width: 100%;
}
header .arriba a{
    color: palevioletred;
}
header .arriba{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

header nav{
    width: 100%;
    border: 1px solid rgb(202, 192, 192);
    
}
header nav ul{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
}
header nav ul li{
    list-style: none;
    
}