*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: "sans-serif" ;
 } /*COLOCAR MARGEN A TODOS */
 body{
    overflow-x: hidden;
    background-color: #f0d6de;
}
header {
    height: fit-content;
    background-color: white;
    width: 100%;
    position: sticky; /*FALTA LOS DEMAS */
    top: 0;
}
header .arriba a{
    color: palevioletred;
}
header .arriba{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
header .arriba .soffcrystals{
    font-size: 60px;
    text-decoration: none;
    margin-right: 300px;
}
header .arriba .soffcrystals:hover{
    color: rgb(202, 152, 169);

}

header nav{
    width: 100%;
    border: 1px solid rgb(202, 192, 192);
    
}
header nav ul{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav ul li{
    list-style: none;
}
header nav ul li a {
    color: black;
    text-decoration: none; 
    transition: 0.2s;
}
header nav ul li a:hover {
    font-size: 18px;
    color: palevioletred
    
}

header .logo {
    display: flex;
    justify-content: center 
    /* FALTA CENTRAR LOGO */

}
.iconos {
    display: flex;
   
}
.iconos div{
    margin-left: 20px;
}
section {
    margin: 20px;
}
.titulos_personaespecial a{
    text-decoration: none;
}
.titulos_personaespecial{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.titulos_personaespecial div {
    width: 180px;
    height: 180px;
    background-position: center;
    background-size: cover;
    margin: 20px; 
    /* background: rgba(0, 0, 0, 0.61);
    background-blend-mode: soft-light; */ 
 } /*PONER A LOS DEMAS EL MARGIN */

.titulos_personaespecial div h3{
    color: aliceblue;
}
.titulo{
    background-image: url(IMG/paraesapersonaespecial/hilorojo.jpg);
    transition: 0.5s;
}
.titulos_personaespecial div:hover{
    animation: zoom_imagen 1s forwards ease-in;
    
 } /*FALTA HACER ZOOM DEMAS IMAGENES Y REVISAR OPACIDAD */
@keyframes zoom_imagen{
    0%{
        background-size: 100%;
    }50%{
        background-size: 105%;

    }100%{
        background-size: 110%;
    }
}
.titulo2{
    background-image: url(IMG/paraesapersonaespecial/onixycuarzorosa.jpg)
}
.titulo3{
    background-image: url(IMG/paraesapersonaespecial/dijecorazon.jpg);
}
.titulo4{
    background-image: url(IMG/paraesapersonaespecial/mamaehijarojo.jpg);
}
.titulo5{
    background-image: url(IMG/paraesapersonaespecial/papaehija.jpg);
}
.titulo6{
    background-image: url(IMG/paraesapersonaespecial/hermanas.jpg);
}
.titulo7{
    background-image: url(IMG/paraesapersonaespecial/hermanos.jpg);
}
.titulo8{
    background-image: url(IMG/paraesapersonaespecial/amigasdoble.jpg);
}
.titulo9{
    background-image: url(IMG/paraesapersonaespecial/amigas.jpg);
}
.titulo10{
    background-image: url(IMG/paraesapersonaespecial/amigos.jpg);
}


