*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sans-serif" ;
}
body{
    overflow-x: hidden;
}
header {
    height: fit-content;
    background-color: white;
    width: 100%;
    position: sticky; /*FALTA LOS DEMAS */
    top: 0;
}
header .arriba a{
    color: palevioletred;
}
header .arriba{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
header .arriba .soffcrystals{
    font-size: 60px;
    text-decoration: none;
    margin-right: 300px;
}
header .arriba .soffcrystals:hover{
    color: rgb(202, 152, 169);

}

header nav{
    width: 100%;
    border: 1px solid rgb(202, 192, 192);
    
}
header nav ul{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav ul li{
    list-style: none;
}
header nav ul li a {
    color: black;
    text-decoration: none; 
    transition: 0.2s;
}
header nav ul li a:hover {
    font-size: 18px;
    color: palevioletred
    
}
header .logo {
    display: flex;
    justify-content: center 
    /* FALTA CENTRAR LOGO */

}
.iconos {
    display: flex;
   
}
.iconos div{
    margin-left: 20px;
}
section {
    margin: 20px;
}